*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #000000;
    --secondary-color: #141922;
    --text-color:#686868;
    --text-color-secondary:#fff;
    --hover-green-line:#ADFF2F;
}

/***********General-Rules**********/
.body{
font-family: 'Fredoka One', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Sacramento', cursive;
}
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.text-white{
    color: #fff;
}
.container{
    width: 100%;
    height: 100vh;
}
/**************MAIN*****************/
/************Side-bar************/
.side-bar{
    justify-content: space-between;
    width: 15%;
    height: (100vh - 70px);
    margin-bottom: 4.5rem;
    flex-shrink: 0;
    background-color: #000000;
    color: var(--text-color);
} 
.side-bar li{
    list-style: none;
    font-weight: bold;
}

nav li{
    padding: 1rem 1rem 0rem 1rem;
}

.playlist{
    overflow: auto;
}
.playlist li{
    padding: 1rem 1rem 0rem 1rem;
}
.playlist h3{
    padding: 1rem 1rem 0rem 1rem;
    color: #fff;
}
.aside-nav img{
    height: 30px;
}
.playlist img{
    height: 30px;
}

.logo{
    padding-right: 5px;
}

.popular img{
    border-radius: 50%;
}
.user{
    margin-top: 30px;
}



/************Main***************/

.rows-container{
    width: 100%;
    background-color: #141922;
    overflow: auto;
    margin-bottom: 70px;
}

.call-to-action{
    height: 80px;
    width: 100%;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
    text-decoration: none;
    background-color:  #07090c;

}
.call-to-action .btn{
    color: #fff;
    text-decoration: none;
    border: 1px solid #ffff;
    border-radius: 30px;
    padding: 0.8rem;
}
.content-menu {
    justify-content: center;
}
.card {
    width: calc(100%/6); 
    margin: 10px;
}
.main-nav li {
    list-style: none;
    text-transform: uppercase;
    border-bottom: 2px solid #141922;
    font-weight: bold;
}
.nav-item{
    text-decoration: none;
    color: #686868;
    font-weight:bold
}
.nav-container{
    justify-content: center;
    border-bottom: 2px solid #141922;
    padding: 5px;
}
.row h2{
    color: #fff;
    margin: 1rem;
}
.card-text{
    text-align: center;
}
.row p {
    color: #686868;
    font-weight: bold;
}
.card img{
    height: 100%;
    width: 100%;
}
.card{

}




/************Footer***************/

footer{
    background-color: #3a3838;
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0%;
    color: white;
}
.footer-container {
justify-content: space-between
}

.played-item {
    justify-content:;
}

.played-item .pad{
    margin: 15px 10px ;
}

.play-bar i{
    margin: 10px 15px;
}


.footer-img img{
   height: 30px;
   padding-top: 5px;
}

/*********Hover-Effects***********/
.nav-item:hover {
    border-bottom:#ADFF2F 2px solid;
    color: #fff;
}

.call-to-action .btn:hover{
    padding: 1rem;
}

.side-bar li:hover {
    color: #fff;
    cursor: pointer;
}





/**********Media-Query***********/

@media all and (max-width: 768px) {
    .content-cards {
        flex-wrap: wrap;
    }
 .card{
    width: calc(100% / 4 )
 }
}
  













/***********Debug-Rules*********/

div, li{
 
}

.content-menu {
    background-color: pink;
}