*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #000000;
    --secondary-color: #141922;
    --text-color:#686868;
    --text-color-secondary:#fff;
    --hover-green-line:#ADFF2F;
}

/***********General-Rules**********/


.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.text-white{
    color: #fff;
}
/**************MAIN*****************/
/************Side-bar************/
 .side-bar-main{
    height: 100%;
}

.side-bar-main .logo {
padding: 1rem;
}

.side-bar-top, .side-bar-playlist, .side-bar-bottom {
    line-height: 2rem;
}

.side-bar-main li{
padding: 1rem;
}

.side-bar-bottom{
    margin-top: 100px;
    margin-bottom:4.5rem;
    
}

.side-bar-main .box{
    width: 100%;
}


/************Main-Top***************/
.call-to-action{
    height: 80px;
    width: 100%;
}
/***********Main-Content*************/
.main-content{
    display: ;
}




/************Footer***************/

footer{
    background-color: yellow;
    height: 4.5rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0%;
}






/**********Media-Query***********/

@media screen and(min-height:150px) {
    
    }













/***********Debug-Rules*********/

div, li{
    border: 1px dashed red;
}

.call-to-action{
    background-color: aquamarine;
}